@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');
body {
  font-family: 'Inter', sans-serif!important;
}
h1 {
  margin-top: 50px;
}
.result {
  display: block;
  width: 100%;
  text-align: right;
  font-size: 40px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: none;
  padding-right: 15px;
}
.buttons{
  background-color: rgba(255,255,255,0.2)!important;  
}
.buttons:hover{
  background-color: rgba(255,255,255,0.3)!important; 
}
.button-clear{
  background-color: rgb(55, 88, 233)!important;
}
.button-clear:hover{
  background-color: rgb(59, 95, 255)!important;
}
.calc-box {
  padding: 8px;
  width: 400px;
  margin: 100px auto;
  height: 400px;
  box-shadow: 8px 10px 32px -4px rgba(0,0,0,0.2);
  -webkit-box-shadow: 8px 10px 32px -4px rgba(0,0,0,0.2);
  -moz-box-shadow: 8px 10px 32px -4px rgba(0,0,0,0.2);
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  height: 94.9vh;
  background-image: linear-gradient(
    45deg,
    hsl(236deg 100% 20%) 0%,
    hsl(208deg 100% 30%) 36%,
    hsl(181deg 100% 40%) 71%,
    hsl(153deg 100% 50%) 100%
  );
  
}

.btn {
  font-size: 30px;
  margin: 5px;
  height: 50px;
}

.mini-grid{
  margin-top: 7px;
}
.equal {
  grid-row: 3/5;
  grid-column: 4;
  height: 110px;
  background-color: rgb(55, 88, 233)!important;
}
.equal:hover{
  background-color: rgb(59, 95, 255)!important;
}

.mini-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.zero {
  grid-column: 1/3;
}
